<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">  
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>
  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>    
  
</head>

<body>


    <div>
        <!-- Sidebar -->
        <div class="nav-side-menu">
            <div class="brand">Song ES</div>
            <i class="glyphicon glyphicon-th-list toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="/songs">Songs</a>
                    
                </li>
                <li>
                    <a href="/playlists">Playlists</a>
                    
                </li>
                <li>
                    <a href="/users/{{user}}">Account</a>
                    
                </li>
                
                <li>
                    <a href="/logout">Logout</a>
                    
                </li>
            </ul>
        </div>
    </div>
     <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" id="main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            {% block container %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>
