{% extends 'index.html' %} {% block container %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingnew_playlist">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenew_playlist" aria-expanded="false" aria-controls="collapsenew_playlist"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New playlist
                </a>
            </h4>
        </div>
        <div id="collapsenew_playlist" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnew_playlist">
            <div class="panel-body">
                <form id="playlistForm" role="form" class="col-lg-8 col-lg-offset-2 form-horizontal">
                    <div class="form-group" id="name_form">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="playlist_name" aria-describedby="playlisthelp" placeholder="Name of playlist"
                            name="name">

                    </div>
                    <div class="form-group" id="description_form">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="3" id="description" name="description"></textarea>

                    </div>

                    <div>
                        <button id="createPlaylist" type="submit" class="btn btn-primary center-block">Create Playlist</button>
                    </div>
                </form>
            </div>



        </div>
</div>
</div>
{% for playlist in playlists %} {% include "playlist.html" %} {% endfor %}
</div>
        <script>
            var songs = null;
            $(document).ready(function () {

                $.ajax({
                    url: "/songs",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var temp_data = $.map(data, function (obj) {
                            return {
                                id: obj.id,
                                text: obj.name + "\nAlbum:" + obj.album
                            }
                        });

                        populateSongs(temp_data)
                    }
                });

            });
            function populateSongs(data) {
                songs = data;
            }
            $("#createPlaylist").click(function (event) {
                event.preventDefault();
                form = $("#playlistForm").serialize();
                $.ajax({
                    type: "POST",
                    data: form,
                    url: "/playlists",

                    success: function (data) {
                        $.ajax({
                            type: "GET",
                            url: "/playlists/"+data,

                            success: function (data) {
                                appendDom(data)
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(jqXHR.responseText)
                            }
                        })
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText)
                    }
                })
            });

            function appendDom(data)
            {
                $("#accordion").append(data);
            }
        </script>


{% endblock %}