{% extends 'index.html' %} {% block container %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headinguser">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseuser" aria-expanded="false"
                    aria-controls="collapseuser"><span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
          Settings
        </a>
            </h4>
        </div>
        <div id="collapseuser" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headinguser">
            <div class="panel-body">
                <div>
                    <h5 class="list-heading">Name:</h5>
                     <a id="{{user['id']}}_name">{{user['name']}}</a></br>
                     <h5 class="list-heading">Emai:</h5>
                     <a id="{{user['id']}}_email">{{user['email']}}</a></br>
                     <h5 class="list-heading">New Password:</h5>
                     <input id="password_input" type="password"/></br>
                     <a id="{{user['id']}}_password"></a></br>

                </div>
            </div>
        </div>
    </div>

        
            
    </div>
    <script>$(document).ready(function() {
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.ajaxOptions = {type: "PUT"};
        $("#{{user['id']}}_name").editable({
                    type: 'text',
                    name: 'device',
                    pk: "{{user['id']}}",
                    url: "/users/{{user['id']}}",
                    send: 'always',
            title: 'Name'});
        $("#{{user['id']}}_email").editable({
                    type: 'email',
                    name: 'email',
                    pk: "{{user['email']}}",
                    url: "/users/{{user['id']}}",
                    send: 'always',
            title: 'email'});
        $("#{{user['id']}}_password").editable({
                    type: 'password',
                    name: 'password',
                    pk: "{{user['password']}}",
                    url: "/users/{{user['id']}}",
                    send: 'always',
                    emptytext: "Confirm password",
            title: 'password',
            validate: function(value) {
            if($("#password_input").val() != value) {

                return "Values don't match";
            }
}});
        
    });
    </script>

    
{% endblock %}